@model IEnumerable<Subscription>
@{
    ViewBag.Title = "جدول الاشتراكات";
}
@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


@using (Html.BeginForm("Users", "Subscriptions1", FormMethod.Post))
{
    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="search" placeholder="للبحث..." style="direction: rtl">
            <a href="~/Subscriptions1/Index" class="btn btn-warning">رؤية الكل</a>
        </div>
    </div>
}

<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>جدول الاشتراكات</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">التاريخ بداية الاشتراك </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> مدة الاشتراك بالاشهر</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">المبلغ المطلوب </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> التاريخ نهاية الاشتراك  </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> الاسم  </th>



                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        @*<img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3" alt="user2">*@
                                        @Html.DisplayFor(modelItem => item.Subscription_Beg, new { @class = "avatar avatar-sm me-3" })
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        @Html.DisplayFor(modelItem => item.Subscription_Duration, new { @class = "d-flex flex-column justify-content-center" })
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        @Html.DisplayFor(modelItem => item.Subscription_Amount, new { @class = "d-flex flex-column justify-content-center" })

                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        @Html.DisplayFor(modelItem => item.Subscription_End, new { @class = "d-flex flex-column justify-content-center" })

                                    </div>
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.AspNetUser.PhoneNumber, new { @class = "d-flex flex-column justify-content-center" })

                                </td>

                                <td class="align-middle text-center text-sm" style="color:red!important">
                                    @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "badge badge-sm bg-gradient-secondary" })

                                </td>
                                <td class="align-middle text-center">
                                    @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }, new { @class = "text-secondary text-xs font-weight-bold" }) |

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>