@model MVC_MAS_AYAH.Servicess

@{
    ViewBag.Title = "التعديل";
}
@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<div class="border-radius-xl mt-3 mx-3 position-relative" style="background-image: url('../../ayahadmn/assets/img/vr-bg.jpg'); background-size: cover;">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">

        <hr class="horizontal dark mt-0">


    </aside>
    <main class="main-content mt-1 border-radius-lg">
        <div class="section min-vh-85 position-relative transform-scale-0 transform-scale-md-7">








            <h2>التعديل</h2>

            @using (Html.BeginForm("Edit", "Servicesses", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>الخدمات</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label>اسم الخدمة</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Service_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Service_name, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group">
                    <label>صورة الخدمة</label>

                    @*@Html.LabelFor(model => model.Servic_image, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Servic_image, new { htmlAttributes = new { @class = "form-control" } })*@
                        <img src="~/Images/@Model.Servic_image" style="width:70px;height:70px;" /><br />
                        <input type="file" value="@Model.Servic_image" class="form-control" name="picture" accept="image/" />
                        @Html.ValidationMessageFor(model => model.Servic_image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>وصف</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="حفظ" class="btn btn-default" style="background-image: url('~/assets/img/curved-images/curved0.jpg'); background-position-y: 50%;  background-color:burlywood;color:black" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("العودة للشاشة الرئيسيه", "Index")
            </div>












        </div>
    </main>
</div>
